*¨{
    margin: 0;
    padding: 0;
}
body{
    text-align: 200px;
    background:black;
    background: linear-gradient(white,rgb(185, 115, 9));
    
}
h1{
    color: rgb(197, 20, 20);
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 5px 5px 5px pink;
    margin: 10px;
}